GamesLabs/2015/IT-21/Reversi/XmlConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="config">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="gameField">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LeftSide" type="xs:string" />
                    <xs:element name="RightSide" type="xs:unsignedByte" />
                    <xs:element name="TopSide" type="xs:unsignedByte" />
                    <xs:element name="BottomSide" type="xs:byte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CurrentStepColor" type="xs:unsignedByte" />
              <xs:element name="CurrentNumberOfSteps" type="xs:unsignedByte" />
              <xs:element name="CLearBgImage" type="xs:string" />
              <xs:element name="WhiteCRImage" type="xs:string" />
              <xs:element name="BlackCRImage" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>