GamesLabs/2015/IT-22/WindowsFormsApplication3/WindowsFormsApplication3/conf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Block">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="count_fish" type="xs:unsignedByte"  minOccurs="0" maxOccurs="250" />
        <xs:element name="color_fish" type="xs:string" />
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="x" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="y" type="xs:unsignedShort" minOccurs="0" />
              <xs:element name="color" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>