GamesLabs/2015/IT-21/15-ki/settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="backgroundim" type="xs:string" />
        <xs:element name="button">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fontsize" type="myint" />
              <xs:element name="fontname" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="soundtrack" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="myint">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>