GamesLabs/2015/IT-21/tennis/XMLFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BallSpeed" type="configuration" />
        <xs:element name="timer_Moveball" type="configuration" />
        <xs:element name="timer_Enemy" type="configuration" />
        <xs:element name="Speed_Enemy" type="configuration" />
        <xs:element name="Speed_Player" type="configuration" />
        <xs:element name="color">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pb_Player" type="xs:string" />
              <xs:element name="pb_Enemy" type="xs:string" />
              <xs:element name="pb_Ball" type="xs:string" />
              <xs:element name="WorldFrame" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="configuration">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="7"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>