GamesLabs/2015/IT-21/lb13_oop/config.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Block">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="width" type="xs:unsignedByte" />
              <xs:element name="height" type="xs:unsignedByte" />
              <xs:element name="x" type="xs:unsignedShort" />
              <xs:element name="y" type="xs:unsignedShort" />
              <xs:element name="speed" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="box">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="width" type="xs:unsignedByte" />
              <xs:element name="height" type="xs:unsignedByte" />
              <xs:element name="x" type="xs:unsignedShort" />
              <xs:element name="y" type="xs:unsignedShort" />
              <xs:element name="speed" type="xs:byte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>