GamesLabs/2015/IT-21/lb13_oop/config.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Block">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="width">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="10"/>
                    <xs:maxInclusive value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="height">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="10"/>
                    <xs:maxInclusive value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="x">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="700"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="y">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="700"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="speed">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="-5"/>
                    <xs:maxInclusive value="5"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="box">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="width">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="10"/>
                    <xs:maxInclusive value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="height">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="10"/>
                    <xs:maxInclusive value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="x">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="700"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="y">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="700"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="speed">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="-5"/>
                    <xs:maxInclusive value="5"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>