GamesLabs/2015/IT-21/2048/XML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GameSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GameTitle" type="xs:string" />
        <xs:element name="GameColor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FormColor" type="xs:string" />
              <xs:element name="BackgroundColor" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="GameConfig">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="X" type="coordinats" />
                    <xs:element name="Y" type="coordinats" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Size" type="coordinats" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="coordinats">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="500"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>