GamesLabs/2015/IT-21/2048/XML1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GameSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GameTitle" type="xs:unsignedShort" />
        <xs:element name="GameColor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FormColor" type="xs:string" />
              <xs:element name="BackgroundColor" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="GameConfig">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="X" type="xs:unsignedByte" />
                    <xs:element name="Y" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Size" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>