GamesLabs/2015/IT-21/new zmeya/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gameField">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="x" type="xs:unsignedByte" />
              <xs:element name="y" type="fs" />
              <xs:element name="x1" type="xs:unsignedByte" />
              <xs:element name="y1" type="xs:unsignedByte" />
              <xs:element name="x2" type="xs:unsignedByte" />
              <xs:element name="y2" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="backgroundColor" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="fs">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>