GamesLabs/2015/IT-21/Sudoko/XML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="color" type="xs:string" />
        <xs:element name="font" type="xs:string" />
        <xs:element name="size" type="t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="t">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="13"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>