GamesLabs/2015/IT-22/Labirint/config.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="byt">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="xmax">
    <xs:restriction base="xs:unsignedByte">
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ymax">
    <xs:restriction base="xs:unsignedByte">
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Block">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="x" type="xmax"/>
              <xs:element name="y" type="ymax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="size">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="x" type="byt" />
              <xs:element name="y" type="byt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="finish">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="x" type="xs:unsignedByte" />
              <xs:element name="y" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="box">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="x" type="xs:unsignedByte" />
              <xs:element name="y" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>