GamesLabs/2015/IT-21/Мазайка/XML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:GameConfig-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="setting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GameSetting">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Count">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="3"></xs:minInclusive>
                  <xs:maxInclusive value="9"></xs:maxInclusive>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
              <xs:element name="Level">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Level1" type="xs:string" />
                    <xs:element name="Level2" type="xs:string" />
                    <xs:element name="Level3" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>