GamesLabs/2015/IT-21/LAB13OOP/config.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Block">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player_one">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="height" type="xs:unsignedByte" />
              <xs:element name="color" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="player_two">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="height" type="xs:unsignedByte" />
              <xs:element name="color" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ball">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="height" type="xs:unsignedByte" />
              <xs:element name="color" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>