GamesLabs/2015/IT-21/My15/xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="s" type="int_for_sec" />
              <xs:element name="m" type="int_for_min" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="button1fontname" type="xs:string" />
        <xs:element name="buttoncolor" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="int_for_sec">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"></xs:minInclusive>
      <xs:maxInclusive value="59"></xs:maxInclusive>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="int_for_min">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"></xs:minInclusive>
      <xs:maxInclusive value="60"></xs:maxInclusive>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>